<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.main.mapper.TransactionMapper">
    <insert id="addTransaction" parameterType="com.main.pojo.entity.Transaction">
        insert into transaction values(
            #{tId},#{uId},#{aId},#{title},#{description},#{spend},#{beginTime},
            #{endTime},#{file},#{status},#{repeat},#{type},#{img}
        )
    </insert>
    <update id="pass">
        update transaction set status=1 where t_id=#{tid}
    </update>
    <update id="unpass">
        update transaction set status=2 where t_id=#{tid}
    </update>

    <select id="queryPage" resultType="com.main.pojo.entity.Transaction">
        select * from transaction
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="beginTime != null and endTime != null">
                between #{beginTime} and #{endTime}
            </if>
            <if test="self != null">
                e_id = #{self}
            </if>
            <if test="keyword != null">
                title like #{keyword}
            </if>
        </where>

    </select>
    <select id="getMonthSector" resultMap="SectorDataResultMap">
        select sector,sum(spend) as spend from transaction
        where DATE_FORMAT(begin_time, '%Y-%m') = DATE_FORMAT(CURRENT_DATE, '%Y-%m')
        group by sector;
    </select>

    <select id="getMonth" resultMap="MonthDataResultMap">
        SELECT DATE(begin_time) AS date, sum(spend) as spend
        FROM transaction
        WHERE MONTH(begin_time) = MONTH(CURRENT_DATE)
        AND YEAR(begin_time) = YEAR(CURRENT_DATE)
        GROUP BY DATE(begin_time)
        ORDER BY date;
    </select>
    <select id="getSeasonData" resultMap="MonthDataResultMap">
        <![CDATA[
        SELECT
        DATE_FORMAT(begin_time, '%Y-%m') AS date,
        SUM(spend) AS spend
        FROM
        transaction
        WHERE
        begin_time >= DATE_SUB(CURRENT_DATE, INTERVAL 2 MONTH)
        AND begin_time < DATE_ADD(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01'), INTERVAL 1 MONTH)
        GROUP BY
        DATE_FORMAT(begin_time, '%Y-%m')
        ORDER BY
        date;
        ]]>
    </select>
    <select id="getSeasonSector" resultMap="SectorDataResultMap">
        <![CDATA[
        SELECT
        sector,
        SUM(spend) AS spend
        FROM
        transaction
        WHERE
        begin_time >= DATE_SUB(CURRENT_DATE, INTERVAL 2 MONTH)
        AND begin_time < DATE_ADD(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01'), INTERVAL 1 MONTH)
        GROUP BY
        sector;
        ]]>
    </select>
    <resultMap id="SectorDataResultMap" type="com.main.pojo.vo.SectorDataVO">
        <result property="sector" column="sector" />
        <result property="spend" column="spend" />
    </resultMap>
    <resultMap id="MonthDataResultMap" type="com.main.pojo.vo.MonthDataVO">
        <result property="date" column="date" />
        <result property="spend" column="spend" />
    </resultMap>
</mapper>