<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.main.mapper.UserMapper">
    <insert id="addNewUser">
        insert into user values(
                #{uId},
                #{eId},
                #{icon},
                #{password},
                #{phone},
                #{email},
                #{role}
        )
    </insert>
    <update id="modifyImg">
        update user set img = #{path} where e_id = #{eid}
    </update>
    <update id="setUid">
        update user set u_id = #{uid} where e_id = #{eid}
    </update>
    <update id="updatePwd">
        update user set password = #{password} where e_id = #{eid}
    </update>

    <select id="queryUserById" resultType="com.main.pojo.entity.User">
        select * from user where u_id=#{username}
    </select>
    <select id="queryUserByEId" resultType="com.main.pojo.entity.User" parameterType="int">
        select * from user where e_id = #{eId}
    </select>
</mapper>